@import "tailwindcss";

:root {
  --background: #DCDEFF;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #DCDEFF;
  }
}

html, body {
  overflow-y: scroll;           /* allow scrolling */
  -ms-overflow-style: none;     /* IE and Edge */
  scrollbar-width: none;        /* Firefox */
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;                /* Chrome, Safari, Opera */
}

body {
  background-color: #09100F;
  color: var(--foreground);
  font-family: var(--font-poppins), sans-serif;
}

canvas {
  background-color: #09100F !important;
}

.outlined-text {
  color: transparent;
  -webkit-text-stroke: 1px #DCDEFF;
  text-stroke: 1px #DCDEFF;
}

